<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pragadeesh/IdeaProjects/Amazon/src/test/java/com/hrmsuite">
<groups>
    <run>
        <include name="smoke"/>
    </run>
</groups>
        <classes>
    <class name="com.hrmsuite.Hrmpage"/>
</classes>
    </test>
</suite>